body {
	font-family: 'Roboto';
	font-family: 'Open Sans';
}
.container {
	max-width: 1440px;
}

.navbar-brand { width: 55%;}
.navbar-nav li { text-transform: uppercase;}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color:#333;
}
.navbar-light .navbar-nav .active > .nav-link { color:#FE0063; }



/*Line 1 Css*/

.line1 { width: 100%; float: left; background:#FC1C74 url(../images/back11.jpg) no-repeat; }
.line1-text {
	text-align: center;
	width: 50%;
	margin: 0 auto;
	color: #fff;
	padding: 10rem 0;
}
.line1-text h2 {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 68px;
	margin-bottom: 5rem;
}


/*Line 2 Css*/

.line2 {width: 100%; float: left; background:#fff url(../images/back2.jpg) no-repeat;}
.line2-text {padding: 7rem 0 0 0;}
.line2-text h2 {
	font-size: 50px;
	font-weight: 100;
}
.line2-text h3 {
	font-weight: bold;
	text-transform: uppercase;
	color: #777;
	margin: 15px 0 60px 0;
	font-size: 21px;
}
.line2-text p{}
.line2-text p.line2-ex {
	border-left: 3px solid #FC1C74;
	padding: 0 0 0 30px;
	font-style: italic;
	color: #888;
	    margin: 40px 0 0 0;
}
.line2-text p span{ display: block; font-weight: bold; color: #000;}


/*Line 3 Css*/

.line3 {width: 100%; float: left; background:#fce8f1 url(../images/back4.jpg) no-repeat;}
.line3-text {padding: 7rem 0;}
.line3-text h2 {
	font-size: 50px;
	font-weight: 100;
}
.line3-text h3 {
	font-weight: bold;
	text-transform: uppercase;
	color: #777;
	margin: 15px 0 60px 0;
	font-size: 21px;
}
.line3-text p{}
.line3-text p.line3-ex {
	border-left: 3px solid #FC1C74;
	padding: 0 0 0 30px;
	font-style: italic;
	color: #888;
	    margin: 40px 0 0 0;
}
.line3-text p span{ display: block; font-weight: bold; color: #000;}




/*Line 5 Css*/
.line5 {
	width: 100%;
	float: left;
	background: #f2f2f2 url(../images/back5.jpg) no-repeat;
	padding: 5rem 4rem;
}
.line5 h2 {
	font-size: 3rem;
	font-weight: 100;
	margin: 0 0 60px 0;
}
.line5 a {
	margin: 4rem 0 0 0;
	display: inline-table;
	background: #fd0365;
	border-radius: 30px;
	padding: 15px 60px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 18px;
}


/*Line 6 Css*/

.line6 {width: 100%; float: left; background: #f50767; /* For browsers that do not support gradients */    background: linear-gradient(-90deg, #a42278, #f50767); /* Standard syntax (must be last) */}
.line6-text {
	padding: 3rem 0 0 0;
	color: #fff;
}
.line6-text h2 {
	font-size: 50px;
	font-weight: 100;
}
.line6-text h3 {
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	margin: 15px 0 60px 0;
	font-size: 21px;
}
.line6-text p{}
.line6-text .line6-ex {
	border-left: 3px solid #fff;
	padding: 0 0 0 30px;
	font-style: italic;
	color: #fff;
	    margin: 40px 0 0 0;
}
.line6-text p span {
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	float: left;
	height: 150px;
	width: 160px;
}



/*Line 7 Css*/

.line7 {width: 100%; float: left; background:#fff url(../images/back7.jpg) no-repeat; padding: 4rem 0;}
.line7-form {}
.line7-form h2 {
	font-weight: 100;
	font-size: 45px;
}
.line7-form p {
	margin: 20px 0 50px 0;
}
.line7-form .form-control {
	border: none;
	border-bottom: 1px solid #777;
	border-radius: 0;
	color: #888;
	font-style: italic;
}
.line7-form .form-group {
	margin-bottom: 3rem;
}

.line7-form .btn{	
	background: #fd0365;
	border-radius: 30px;
	padding: 15px 50px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 18px;
}
.line7 .img-block {
	margin-bottom: 30px;
	text-align: center;
	width: 250px;
	border: 1px solid #ddd;
	height: 150px;
}
.line7 .img-block img { padding: 18px 0 0 0;}


/*Footer Css*/
footer {width: 100%; float: left; background:#080808 url(../images/footer.jpg) no-repeat; padding: 2rem 0;}
footer p {color: #999; margin: 0;}
footer p span{ color: #fff;}
footer a .fa {
	color: #fff;
	border: 1px solid #fff;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	text-align: center;
	padding: 6px 0 0 0;
	font-size: 20px;
}




































